<?xml version="1.0" encoding="utf-8"?>
<Juhta.Net.Services xmlns="http://schemas.juhta.net/services-v1.xsd">
  <services>
    <service id="name:AnyService" class="AppXLibrary.dll#~.Services.AllParamTypeService">
      <constructorParams>
        <dateTime name="dateTimeValue">2018-02-04T16:55:00.7774</dateTime>
      </constructorParams>
    </service>
  </services>
</Juhta.Net.Services>
