<?xml version="1.0" encoding="utf-8"?>
<Juhta.Net.Services xmlns="http://schemas.juhta.net/services-v1.xsd">
  <services>
    <service class="AppXLibrary.dll#~.Services.AllParamTypeService">
      <constructorParams>
        <string name="stringValue">This service has neither name nor type.</string>
      </constructorParams>
    </service>
  </services>
</Juhta.Net.Services>
