<?xml version="1.0" encoding="utf-8"?>
<Juhta.Net xmlns="http://schemas.juhta.net/root-v1.xsd">
  <application defaultConfigFileName="AppXLibrary.json">
    <startup>
      <libraries>
        <library fileName="AppXLibrary.dll" handleClass="AppXLibrary.ConfigurableJson.ConfigurableLibraryNullConfigFileName"/>
      </libraries>
    </startup>
  </application>
</Juhta.Net>
