<?xml version="1.0" encoding="utf-8"?>
<Juhta.Net xmlns="http://schemas.juhta.net/root-v1.xsd">
  <application>
    <startup>
      <libraries>
        <library handleClass="AppXLibraryTempA1.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA2.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA3.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA4.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA5.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA6.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA7.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA8.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA9.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA10.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA11.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA12.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA13.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA14.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA15.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA16.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA17.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA18.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA19.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA20.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA21.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA22.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA23.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA24.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA25.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA26.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA27.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA28.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA29.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA30.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA31.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA32.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA33.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA34.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA35.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA36.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA37.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA38.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA39.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA40.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA41.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA42.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA43.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA44.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA45.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA46.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA47.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA48.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA49.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA50.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA51.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA52.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA53.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA54.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA55.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA56.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA57.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA58.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA59.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA60.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA61.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA62.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA63.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA64.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA65.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA66.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA67.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA68.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA69.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA70.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA71.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA72.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA73.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA74.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA75.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA76.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA77.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA78.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA79.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA80.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA81.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA82.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA83.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA84.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA85.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA86.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA87.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA88.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA89.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA90.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA91.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA92.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA93.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA94.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA95.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA96.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA97.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA98.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA99.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library handleClass="AppXLibraryTempA100.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
      </libraries>
    </startup>
  </application>
</Juhta.Net>
