<?xml version="1.0" encoding="utf-8"?>
<Juhta.Net xmlns="http://schemas.juhta.net/root-v1.xsd">
  <application>
    <startup>
      <libraries>
        <library fileName="AppXLibraryTempA1.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA2.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA3.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA4.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA5.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA6.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA7.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA8.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA9.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA10.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA11.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA12.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA13.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA14.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA15.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA16.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA17.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA18.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA19.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA20.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA21.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA22.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA23.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA24.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA25.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA26.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA27.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA28.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA29.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA30.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA31.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA32.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA33.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA34.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA35.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA36.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA37.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA38.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA39.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA40.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA41.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA42.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA43.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA44.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA45.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA46.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA47.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA48.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA49.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA50.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA51.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA52.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA53.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA54.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA55.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA56.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA57.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA58.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA59.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA60.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA61.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA62.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA63.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA64.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA65.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA66.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA67.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA68.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA69.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA70.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA71.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA72.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA73.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA74.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA75.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA76.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA77.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA78.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA79.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA80.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA81.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA82.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA83.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA84.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA85.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA86.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA87.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA88.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA89.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA90.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA91.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA92.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA93.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA94.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA95.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA96.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA97.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA98.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA99.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
        <library fileName="AppXLibraryTempA100.dll" handleClass=".CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
      </libraries>
    </startup>
  </application>
</Juhta.Net>
