<?xml version="1.0" encoding="utf-8"?>
<Juhta.Net xmlns="http://schemas.juhta.net/root-v1.xsd">
  <application>
    <startup>
      <libraries>
        <library handleClass="AppXLibrary.dll#~.CustomXmlConfigurable.CustomXmlConfigurableLibrary"/>
      </libraries>
    </startup>
  </application>
</Juhta.Net>
