<?xml version="1.0" encoding="utf-8"?>
<Juhta.Net xmlns="http://schemas.juhta.net/root-v1.xsd">
  <application>
    <startup>
      <libraries>
        <library handleClass="AppXLibraryTempB1.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB2.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB3.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB4.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB5.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB6.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB7.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB8.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB9.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB10.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB11.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB12.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB13.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB14.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB15.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB16.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB17.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB18.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB19.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB20.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB21.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB22.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB23.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB24.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB25.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB26.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB27.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB28.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB29.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB30.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB31.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB32.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB33.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB34.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB35.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB36.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB37.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB38.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB39.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB40.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB41.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB42.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB43.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB44.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB45.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB46.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB47.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB48.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB49.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB50.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB51.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB52.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB53.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB54.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB55.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB56.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB57.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB58.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB59.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB60.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB61.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB62.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB63.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB64.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB65.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB66.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB67.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB68.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB69.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB70.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB71.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB72.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB73.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB74.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB75.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB76.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB77.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB78.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB79.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB80.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB81.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB82.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB83.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB84.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB85.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB86.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB87.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB88.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB89.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB90.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB91.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB92.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB93.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB94.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB95.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB96.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB97.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB98.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB99.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempB100.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
      </libraries>
    </startup>
  </application>
</Juhta.Net>
