<?xml version="1.0" encoding="utf-8"?>
<Juhta.Net xmlns="http://schemas.juhta.net/root-v1.xsd">
  <application>
    <startup>
      <libraries>
        <library fileName="AppXLibraryTempB1.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB2.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB3.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB4.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB5.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB6.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB7.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB8.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB9.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB10.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB11.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB12.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB13.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB14.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB15.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB16.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB17.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB18.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB19.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB20.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB21.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB22.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB23.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB24.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB25.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB26.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB27.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB28.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB29.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB30.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB31.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB32.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB33.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB34.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB35.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB36.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB37.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB38.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB39.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB40.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB41.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB42.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB43.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB44.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB45.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB46.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB47.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB48.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB49.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB50.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB51.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB52.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB53.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB54.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB55.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB56.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB57.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB58.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB59.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB60.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB61.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB62.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB63.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB64.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB65.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB66.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB67.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB68.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB69.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB70.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB71.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB72.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB73.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB74.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB75.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB76.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB77.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB78.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB79.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB80.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB81.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB82.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB83.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB84.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB85.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB86.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB87.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB88.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB89.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB90.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB91.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB92.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB93.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB94.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB95.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB96.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB97.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB98.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB99.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempB100.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
      </libraries>
    </startup>
  </application>
</Juhta.Net>
