<?xml version="1.0" encoding="utf-8"?>
<Juhta.Net xmlns="http://schemas.juhta.net/root-v1.xsd">
  <application>
    <startup>
      <libraries>
        <library fileName="AppXLibraryTempC1.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC2.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC3.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC4.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC5.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC6.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC7.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC8.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC9.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC10.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC11.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC12.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC13.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC14.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC15.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC16.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC17.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC18.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC19.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC20.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC21.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC22.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC23.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC24.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC25.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC26.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC27.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC28.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC29.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC30.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC31.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC32.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC33.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC34.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC35.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC36.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC37.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC38.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC39.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC40.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC41.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC42.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC43.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC44.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC45.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC46.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC47.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC48.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC49.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC50.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC51.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC52.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC53.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC54.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC55.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC56.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC57.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC58.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC59.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC60.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC61.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC62.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC63.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC64.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC65.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC66.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC67.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC68.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC69.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC70.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC71.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC72.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC73.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC74.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC75.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC76.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC77.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC78.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC79.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC80.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC81.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC82.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC83.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC84.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC85.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC86.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC87.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC88.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC89.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC90.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC91.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC92.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC93.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC94.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC95.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC96.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC97.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC98.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC99.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibraryTempC100.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
      </libraries>
    </startup>
  </application>
</Juhta.Net>
