<?xml version="1.0" encoding="utf-8"?>
<Juhta.Net xmlns="http://schemas.juhta.net/root-v1.xsd">
  <application>
    <startup>
      <libraries>
        <library fileName="AppXLibrary1.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary2.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary3.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary4.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary5.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary6.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary7.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary8.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary9.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary10.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary11.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary12.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary13.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary14.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary15.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary16.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary17.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary18.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary19.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary20.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary21.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary22.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary23.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary24.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary25.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary26.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary27.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary28.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary29.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary30.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary31.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary32.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary33.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary34.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary35.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary36.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary37.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary38.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary39.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary40.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary41.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary42.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary43.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary44.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary45.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary46.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary47.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary48.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary49.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary50.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary51.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary52.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary53.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary54.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary55.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary56.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary57.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary58.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary59.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary60.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary61.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary62.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary63.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary64.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary65.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary66.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary67.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary68.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary69.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary70.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary71.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary72.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary73.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary74.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary75.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary76.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary77.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary78.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary79.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary80.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary81.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary82.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary83.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary84.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary85.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary86.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary87.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary88.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary89.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary90.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary91.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary92.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary93.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary94.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary95.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary96.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary97.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary98.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary99.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library fileName="AppXLibrary100.dll" handleClass=".DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
      </libraries>
    </startup>
  </application>
</Juhta.Net>
