<?xml version="1.0" encoding="utf-8"?>
<Juhta.Net xmlns="http://schemas.juhta.net/root-v1.xsd">
  <application>
    <startup>
      <libraries>
        <library handleClass="AppXLibraryTempC1.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC2.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC3.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC4.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC5.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC6.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC7.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC8.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC9.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC10.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC11.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC12.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC13.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC14.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC15.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC16.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC17.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC18.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC19.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC20.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC21.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC22.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC23.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC24.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC25.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC26.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC27.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC28.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC29.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC30.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC31.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC32.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC33.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC34.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC35.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC36.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC37.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC38.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC39.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC40.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC41.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC42.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC43.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC44.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC45.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC46.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC47.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC48.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC49.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC50.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC51.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC52.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC53.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC54.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC55.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC56.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC57.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC58.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC59.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC60.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC61.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC62.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC63.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC64.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC65.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC66.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC67.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC68.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC69.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC70.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC71.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC72.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC73.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC74.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC75.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC76.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC77.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC78.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC79.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC80.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC81.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC82.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC83.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC84.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC85.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC86.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC87.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC88.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC89.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC90.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC91.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC92.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC93.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC94.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC95.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC96.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC97.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC98.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC99.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
        <library handleClass="AppXLibraryTempC100.dll#~.DynamicCustomXmlConfigurableAndStartable.LibraryHandle"/>
      </libraries>
    </startup>
  </application>
</Juhta.Net>
