<?xml version="1.0" encoding="utf-8"?>
<Juhta.Net xmlns="http://schemas.juhta.net/root-v1.xsd">
  <application>
    <startup>
      <libraries></libraries>
    </startup>
    <services>
      <service id="name:SumService0" classId="AppXLibrary.dll#~.Services.SumService">
        <constructorParams>
          <int name="baseSum">10</int>
        </constructorParams>
      </service>
      <service id="name:SumService1" classId="AppXLibrary.dll#~.Services.SumService">
        <constructorParams>
          <int name="baseSum">11</int>
        </constructorParams>
      </service>
      <service id="name:SumService2" classId="AppXLibrary.dll#~.Services.SumService">
        <constructorParams>
          <int name="baseSum">12</int>
        </constructorParams>
      </service>
      <service id="name:SumService3" classId="AppXLibrary.dll#~.Services.SumService">
        <constructorParams>
          <int name="baseSum">13</int>
        </constructorParams>
      </service>
      <service id="name:SumService4" classId="AppXLibrary.dll#~.Services.SumService">
        <constructorParams>
          <int name="baseSum">14</int>
        </constructorParams>
      </service>
      <service id="name:SumService5" classId="AppXLibrary.dll#~.Services.SumService">
        <constructorParams>
          <int name="baseSum">15</int>
        </constructorParams>
      </service>
      <service id="name:SumService6" classId="AppXLibrary.dll#~.Services.SumService">
        <constructorParams>
          <int name="baseSum">16</int>
        </constructorParams>
      </service>
      <service id="name:SumService7" classId="AppXLibrary.dll#~.Services.SumService">
        <constructorParams>
          <int name="baseSum">17</int>
        </constructorParams>
      </service>
      <service id="name:SumService8" classId="AppXLibrary.dll#~.Services.SumService">
        <constructorParams>
          <int name="baseSum">18</int>
        </constructorParams>
      </service>
      <service id="name:SumService9" classId="AppXLibrary.dll#~.Services.SumService">
        <constructorParams>
          <int name="baseSum">19</int>
        </constructorParams>
      </service>
      <serviceGroup>
        <service id="type:AppXLibrary.Services.AggregateSumService" classId="AppXLibrary.dll#~.Services.AggregateSumService">
          <constructorParams>
            <service name="sumService1">name:SumService1</service>
            <service name="sumService2">name:SumService2</service>
            <service name="sumService3">name:SumService3</service>
          </constructorParams>
        </service>
      </serviceGroup>
    </services>
  </application>
</Juhta.Net>
