<?xml version="1.0" encoding="utf-8"?>
<Juhta.Net xmlns="http://schemas.juhta.net/root-v1.xsd">
  <application>
    <startup>
      <libraries></libraries>
    </startup>
    <services>
      <service name="MyService" type="AppXLibrary.Services.IAllParamTypeService" libraryFileName="AppXLibrary.dll" libraryClass=".Services.AllParamTypeService">
        <constructorParams>
          <string name="stringValue">This service has both the name and type.</string>
        </constructorParams>
      </service>
    </services>
  </application>
</Juhta.Net>
