<?xml version="1.0" encoding="utf-8"?>
<Juhta.Net xmlns="http://schemas.juhta.net/root-v1.xsd">
  <application>
    <startup>
      <libraries></libraries>
    </startup>
    <services>
      <service id="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789:abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789._/-" libraryFileName="AppXLibrary.dll" libraryClass=".Services.SumService">
        <constructorParams>
          <int name="baseSum">72</int>
        </constructorParams>
      </service>
    </services>
  </application>
</Juhta.Net>
