<?xml version="1.0" encoding="utf-8"?>
<Juhta.Net xmlns="http://schemas.juhta.net/root-v1.xsd">
  <application>
    <startup>
      <libraries></libraries>
    </startup>
    <services>
      <service id="name/SumService20" libraryFileName="AppXLibrary.dll" libraryClass=".Services.SumService2">
      </service>
      <service id="name/SumService21" libraryFileName="AppXLibrary.dll" libraryClass=".Services.SumService2">
        <constructorParams>
        </constructorParams>
      </service>
    </services>
  </application>
</Juhta.Net>
