<?xml version="1.0" encoding="utf-8"?>
<Juhta.Net xmlns="http://schemas.juhta.net/root-v1.xsd">
  <application>
    <startup>
      <libraries></libraries>
    </startup>
    <services>
      <service id="name:AllParamTypeService" libraryFileName="AppXLibrary.dll" libraryClass=".Services.AllParamTypeService">
        <constructorParams>
          <boolean name="booleanValue">true</boolean>
          <byte name="byteValue">223</byte>
          <char name="charValue">d</char>
          <date name="dateValue">2018-01-18</date>
          <dateTime name="dateTimeValue">2018-01-16T19:08:20</dateTime>
          <decimal name="decimalValue">54.7636</decimal>
          <double name="doubleValue">9956.8763</double>
          <float name="floatValue">6373.88</float>
          <int name="intValue">64644646</int>
          <int16 name="int16Value">32767</int16>
          <int32 name="int32Value">64655646</int32>
          <int64 name="int64Value">64644646566</int64>
          <long name="longValue">327000</long>
          <sbyte name="sbyteValue">-100</sbyte>
          <short name="shortValue">-4533</short>
          <single name="singleValue">-66334.775</single>
          <string name="stringValue">Hello from the service!</string>
          <time name="timeValue">03:09:21</time>
          <timeSpan name="timeSpanValue">12345:23:56:59</timeSpan>
          <uint name="uintValue">65000</uint>
          <uint16 name="uint16Value">56433</uint16>
          <uint32 name="uint32Value">444444444</uint32>
          <uint64 name="uint64Value">555555555555555</uint64>
          <ulong name="ulongValue">46456464646464</ulong>
          <ushort name="ushortValue">56733</ushort>
        </constructorParams>
      </service>
    </services>
  </application>
</Juhta.Net>
