<?xml version="1.0" encoding="utf-8"?>
<Juhta.Net xmlns="http://schemas.juhta.net/root-v1.xsd">
  <application>
    <startup>
      <libraries></libraries>
    </startup>
    <services>
      <serviceGroup name="Group0">
        <serviceGroup name="Group1">
          <serviceGroup name="Group2">
            <serviceGroup name="Group3">
              <serviceGroup name="Group4">
                <serviceGroup name="Group5">
                  <serviceGroup name="Group6">
                    <serviceGroup name="Group7">
                      <serviceGroup name="Group8">
                        <serviceGroup name="Group9">
                          <service id="name:SumService0" libraryFileName="AppXLibrary.dll" libraryClass=".Services.SumService">
                            <constructorParams>
                              <int name="baseSum">10</int>
                            </constructorParams>
                          </service>
                          <service id="name:SumService1" libraryFileName="AppXLibrary.dll" libraryClass=".Services.SumService">
                            <constructorParams>
                              <int name="baseSum">11</int>
                            </constructorParams>
                          </service>
                          <service id="name:SumService2" libraryFileName="AppXLibrary.dll" libraryClass=".Services.SumService">
                            <constructorParams>
                              <int name="baseSum">12</int>
                            </constructorParams>
                          </service>
                          <service id="name:SumService3" libraryFileName="AppXLibrary.dll" libraryClass=".Services.SumService">
                            <constructorParams>
                              <int name="baseSum">13</int>
                            </constructorParams>
                          </service>
                          <service id="name:SumService4" libraryFileName="AppXLibrary.dll" libraryClass=".Services.SumService">
                            <constructorParams>
                              <int name="baseSum">14</int>
                            </constructorParams>
                          </service>
                          <service id="name:SumService5" libraryFileName="AppXLibrary.dll" libraryClass=".Services.SumService">
                            <constructorParams>
                              <int name="baseSum">15</int>
                            </constructorParams>
                          </service>
                          <service id="name:SumService6" libraryFileName="AppXLibrary.dll" libraryClass=".Services.SumService">
                            <constructorParams>
                              <int name="baseSum">16</int>
                            </constructorParams>
                          </service>
                          <service id="name:SumService7" libraryFileName="AppXLibrary.dll" libraryClass=".Services.SumService">
                            <constructorParams>
                              <int name="baseSum">17</int>
                            </constructorParams>
                          </service>
                          <service id="name:SumService8" libraryFileName="AppXLibrary.dll" libraryClass=".Services.SumService">
                            <constructorParams>
                              <int name="baseSum">18</int>
                            </constructorParams>
                          </service>
                          <service id="name:SumService9" libraryFileName="AppXLibrary.dll" libraryClass=".Services.SumService">
                            <constructorParams>
                              <int name="baseSum">19</int>
                            </constructorParams>
                          </service>
                        </serviceGroup>
                      </serviceGroup>
                    </serviceGroup>
                  </serviceGroup>
                </serviceGroup>
              </serviceGroup>
            </serviceGroup>
          </serviceGroup>
        </serviceGroup>
      </serviceGroup>
    </services>
  </application>
</Juhta.Net>
