<?xml version="1.0" encoding="utf-8"?>
<Juhta.Net xmlns="http://schemas.juhta.net/root-v1.xsd">
  <application>
    <startup>
      <libraries></libraries>
    </startup>
    <services>
      <service name="TestService" type="System.Object" libraryFileName="AppXLibrary1234.dll" libraryClass=".TestService">
      </service>
    </services>
  </application>
</Juhta.Net>
