<?xml version="1.0" encoding="utf-8"?>
<Juhta.Net xmlns="http://schemas.juhta.net/root-v1.xsd">
  <application>
    <startup>
      <libraries></libraries>
    </startup>
    <services>
      <service id="name:AnyService" classId="AppXLibrary.dll#~.Services.AllParamTypeService">
        <constructorParams>
          <dateTime name="dateTimeValue">2018-02-04T16:55:00.7774</dateTime>
        </constructorParams>
      </service>
    </services>
  </application>
</Juhta.Net>
